body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.navbar {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
}

.navbar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container1 input,
.container1 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn:hover {
    background-color: #0056b3;
}

.delete {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#list {
    list-style: none;
    padding: 0;
}

#list li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#contador {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}







